.loading {
  width: 52px;
  height: 52px;
  animation: lodingSpinAni 2s infinite linear;
}
.loading circle {
  stroke: url("#myGradient");
  stroke-width: 2;
  /* getTotalLength()로 stroke의길이를 얻어올수 있음 */
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  fill: transparent;
  animation: lodingAni 0.8s infinite linear;
}

@keyframes lodingSpinAni {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lodingAni {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
