/* editModal */

.editModalBack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.editModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  width: 450px;
  aspect-ratio: 1/1.3;
  border-radius: 20px;
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
  background-color: #fff;
  animation: modalAni 0.2s;
  transition: 0.2s;
  overflow: hidden;
}
.modalTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.modalContent {
  width: 70%;
}

@keyframes modalAni {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* profileImage */
.profileImg {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgBox {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.imgBox img {
  border-radius: 100%;
}
.imgBox input {
  display: none;
}
.imgBox span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
}
.imgBox span svg {
  font-size: 20px;
}

/* nickname */

.nickname {
  font-size: 18px;
  font-weight: bold;
}
.nickname input {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  font-size: 18px;
  border-radius: 7px;
  outline: none;
  margin-top: 10px;
}
/* gender */
.gender {
  margin-top: 20px;
}
.gender p {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}
.gender > div {
  display: flex;
}
.gender label {
  display: flex;
  align-items: center;
  width: 80px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}
.gender span {
  vertical-align: middle;
}

.gender input[type="radio"] {
  vertical-align: middle;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.gender input[type="radio"]:checked {
  appearance: none;
  border: 4px solid #c73512;
  border-radius: 100%;
}

/* password */
.pwEditBtn {
  margin-top: 25px;
  padding: 8px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 7px;
  background-color: #baa8e4;
  color: #fff;
  cursor: pointer;
}
.pwEditBtn:hover {
  background-color: #9070db;
  color: #fff;
}

.pwEditModalBack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.pwEdit {
  position: relative;
  width: 30%;
  min-width: 400px;
  height: 500px;
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 10px;
  overflow: hidden;
  animation: modalAni 0.2s;
  transition: 0.2s;
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.title {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.pwEditWrap,
.pwEditEx {
  padding: 10px;
}

.pwEditWrap div {
  position: relative;
}

.pwEditWrap div p {
  font-size: 18px;
  font-weight: bold;
}
.pwEditWrap div input {
  width: 100%;
  font-size: 20px;
  margin: 10px 0;
  padding: 25px 20px 5px 20px;
  border-radius: 7px;
  outline: none;
  background-color: #fff;
  box-sizing: border-box;
}
.labelPlaceholder {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #b4b4b4;
  transition: 0.2s;
  cursor: text;
}
.pwEditWrap div:focus-within label,
.inputLabel {
  position: absolute;
  top: 30%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #000;
}

.editBtn,
.editBtnX {
  display: block;
  width: 90%;
  margin: 20px auto 0 auto;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  border-radius: 20px;
}
.editBtn {
  cursor: pointer;
  background-color: #9070db;
}
.editBtn:hover {
}
.editBtnX {
  background-color: #baa8e4;
  cursor: not-allowed;
}

.profileEditBtn {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
}
.profileEditBtn button {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
}

@media (max-width: 500px) {
  .editModal {
    width: 300px;
    aspect-ratio: 1/1.8;
    padding: 5px;
  }
  .pwEdit {
    min-width: 300px;
  }
  .pwEdit p {
    font-size: 14px;
    text-align: center;
  }
}
