.logoBox {
  height: 100%;
}
.logoBox img {
  transform: scale(1.2);
  width: 100%;
  height: 100%;
}
.signUpBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-right: 30px;
  box-sizing: border-box;
}
.signUpBox button {
  margin-right: auto;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ffaaa1;
  cursor: pointer;
}
.signUpBox button:hover {
  color: #000;
  background-color: #ff887b;
}

@media (max-width: 500px) {
  .logoBox {
    height: 100%;
  }
  .signUpBox {
    width: 180px;
    margin: 0;
  }
  .signUpBox button {
    padding: 8px;
    margin-right: 5px;
  }
}
