.modalBack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}
.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  max-width: 1200px ;
  max-height: 80%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  background-color: #fff;
  animation: modalAni 0.2s;
  overflow: hidden;
}

.modalTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 67px;
  border-bottom: 1px solid #d4d4d4;
}
.modalTitle h3 {
  margin: auto;
}
.modalTitle span,
.modalTitle p {
  font-size: 18px;
  cursor: pointer;
}
.modalTitle span {
  margin-left: 10px;
}
.modalTitle p {
  margin-right: 10px;
  font-weight: bold;
  color: #c31952;
}

/* image */
.imgContainer {
  width: 100%;
  height: calc(100% - 67px);
  position: relative;
}
.imgWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.imgWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dragUploadBox,
.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textBox {
  margin: 30px 0;
}
.textBox h3 {
  font-weight: 30;
  font-size: 25px;
  margin: 0;
}
.textBox span {
  color: #535353;
}

.dragUploadBox svg {
  color: #272727;
  transform: scale(4);
}
.fileUploadLabel {
  padding: 10px 15px 10px 15px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  background-color: #e45988;
  cursor: pointer;
}
.fileUploadLabel:hover {
  background-color: #c31952;
}

.uploadLabelChange {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  border-radius: 100%;
  cursor: pointer;
  background-color: #00000081;
}
.uploadLabelChange svg {
  width: 100%;
  height: 100%;
  color: #fff;
}
.uploadInput {
  display: none;
}

/* uploadCountAlert */
.uploadAlert {
  width: 80%;
  height: 10%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
.uploadAlert p {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.uploadAlertOff {
  display: flex;
  animation: fade 3s linear;
}

/* ImagePreview */
.imageBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  transition: 0.5s;
}
.imageBox button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: #fff;
  background-color: #00000081;
  cursor: pointer;
}
.imageBox button svg {
  width: 100%;
  height: 100%;
}
.leftBtn {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.rightBtn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

/* resizeBtn */
.resizeBtn {
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.resizeBtn > div {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 100%;
  background-color: #00000081;
}
.resizeBtn > div svg {
  width: 100%;
  height: 100%;
  color: #e4e4e4;
}
.resizeBtn > div:hover {
  background-color: #00000034;
  color: #e4e4e481;
}
.sizeBtnWrap {
  position: absolute;
  bottom: calc(100% + 10px);
  width: 100px;
  border-radius: 10px;
  background-color: #00000096;
  overflow: hidden;
}
.sizeBtnWrap li {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  color: rgb(158, 158, 158);
  border-bottom: 1px solid #fff;
}
.sizeBtnWrap li span {
  display: inline-block;
  border: 2px solid rgb(158, 158, 158);
  border-radius: 5px;
  width: 25px;
}
.sizeBtnWrap li:last-child {
  border-bottom: 0;
}
.sizeBtnWrap li:first-child svg {
  font-size: 25px;
  margin-left: 15px;
}
.sizeBtnWrap li:nth-child(2) span {
  aspect-ratio: 1/1;
  margin-left: 15px;
}
.sizeBtnWrap li:nth-child(3) span {
  aspect-ratio: 4/5;
  margin-left: 15px;
}
.sizeBtnWrap li:last-child span {
  aspect-ratio: 16/9;
  margin-left: 5px;
}
.clickLi {
  color: #fff !important;
  background-color: #000000a6;
}
.clickLi span {
  border: 2px solid #fff !important;
}

/* content-search */
.contentContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100% - 67px);
}
.searchWrap {
  width: 50%;
  height: 100%;
}
.search {
  display: flex;
  justify-content: center;
  padding: 15px 15px;
  border-bottom: 1px solid #d7d7d7;
}
.search input {
  width: 80%;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 17px;
  padding: 3px 5px 3px 5px;
  background-color: #d7d7d7;
  outline: none;
}
.search > span {
  position: relative;
  height: 40px;
  width: 35px;
  font-size: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #c31952;
  cursor: pointer;
}
.search > span svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchList {
  height: calc(100% - 70px);
  padding: 10px 10px;
  overflow: auto;
}
.searchList h3 {
  margin: 20px 15px;
}
.searchList ul {
  box-sizing: border-box;
}
.searchList ul li {
  display: flex;
  align-items: center;
  min-width: 300px;
  max-height: 65px;
  word-break: keep-all;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #d4d4d4;
  cursor: pointer;
  animation: ani 0.5s;
}
.searchList li p {
  margin-left: 30px;
  font-weight: bold;
}
@keyframes ani {
  0% {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }
  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
.searchList li span {
  font-size: 0.7rem;
  margin-left: 5px;
  color: #535353;
}
.loadingBox {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.loadingBox span {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, white, #d4d4d4, white);
  animation: loading 3s linear infinite;
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

/* content-contetn,foodList */

.contentWrap {
  width: 50%;
  height: 100%;
  border-left: 1px solid #d4d4d4;
}
.content {
  position: relative;
  width: 100%;
  height: 40%;
  padding: 20px 20px 40px 20px;
  border-bottom: 1px solid #d4d4d4;
}
.content textarea {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  box-sizing: border-box;
  resize: none;
  outline: none;
  border: 0;
}
.content textarea::placeholder {
  font-size: 18px;
  font-weight: 500;
}
.content span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #535353bb;
}

/* foodList */

.foodListWrap {
  width: 100%;
  height: 60%;
  overflow: auto;
}
.list {
  width: 100%;
}
.foodListWrap table {
  width: 100%;
}
.calNuWrap,
.foodListWrap table thead tr,
.foodListWrap table tbody tr {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.foodListWrap table tbody tr {
  background-color: #c31952;
  border-radius: 10px;
  margin-bottom: 10px;
}
.foodListWrap table tr:last-child {
  animation: ani 0.5s;
}
.calNuWrap p,
.foodListWrap table td {
  width: 15%;
  height: 30px;
  text-align: center;
  font-size: 18px;
}
.foodListWrap table thead td {
  font-size: 15px;
  font-weight: bold;
}
.calNuWrap p:nth-child(1),
.calNuWrap p:nth-child(2),
.foodListWrap table tr td:nth-child(1),
.foodListWrap table tr td:nth-child(2) {
  width: 20%;
}
.foodListWrap table tr td:nth-child(1) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.foodListWrap table tr td:nth-child(2) span {
  margin-right: 5px;
  font-size: 15px;
  color: #535353bb;
}
.calNuWrap p:last-child,
.foodListWrap table td:last-child {
  width: 5%;
}
.foodListWrap table td:last-child span {
  color: #fff;
  cursor: pointer;
}
.calNuWrap {
  border-top: 1px solid #d7d7d7;
  font-weight: 500;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  50%,
  90% {
    opacity: 1;
  }
}
@keyframes modalAni {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1050px) {
  .modalContent {
    height: 80%;
    aspect-ratio: 0;
    border-radius: 5px;
  }
  .modalTitle {
    height: 30px;
  }
  .modalTitle span {
    font-size: 15px;
  }
  .modalTitle h3 {
    font-size: 1em;
  }
  .textBox h3 {
    display: none;
  }
  .imgContainer {
    height: calc(100% - 30px);
  }
  .resizeBtn {
    width: 35px;
    height: 35px;
    left: 20px;
    bottom: 20px;
  }
  .uploadLabelChange {
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
  }
  .imageBox button {
    width: 35px;
    height: 35px;
  }
  .contentContainer {
    height: calc(100% - 30px);
  }
  .search {
    padding: 8px 8px;
  }
  .search input {
    padding: 2px 4px;
    font-size: 15px;
  }
  .searchList {
    height: calc(60% - 57px);
    padding: 5px 8px;
    border-bottom: 1px solid #d7d7d7;
  }
  .searchList h3 {
    margin: 10px 10px;
    font-size: 1em;
  }
  .searchList ul li {
    display: block;
    min-width: auto;
    max-height: 120px;
    word-break: normal;
    text-align: center;
  }
  .searchList ul li p {
    text-align: center;
    margin-left: 0;
  }
  .contentWrap {
    border: 0;
  }
  .content {
    height: 60%;
    border-left: 1px solid #d7d7d7;
    padding: 5px 5px 25px 5px;
  }
  .content textarea {
    padding: 10px;
    font-size: 15px;
  }
  .content textarea::placeholder {
    font-size: 15px;
  }
  .content span {
    font-size: 15px;
    bottom: 0;
  }
  .foodListWrap {
    position: absolute;
    left: 0;
    height: 40%;
  }
}

@media (max-width:450px) {
  .foodListWrap thead tr td {
    font-size: 13px;
  }
  .foodListWrap table tr td,
  .calNuWrap p {
    font-size: 15px;
  }
  .foodListWrap table tr td:nth-child(1),
  .foodListWrap table tr td:nth-child(2),
  .calNuWrap p:nth-child(1),
  .calNuWrap p:nth-child(2) {
    width: 40%;
  }
  .foodListWrap table tr td:nth-child(2) span {
    font-size: 13px;
  }
  .foodListWrap table tr td:nth-child(3),
  .foodListWrap table tr td:nth-child(4),
  .foodListWrap table tr td:nth-child(5),
  .calNuWrap p:nth-child(3),
  .calNuWrap p:nth-child(4),
  .calNuWrap p:nth-child(5) {
    display: none;
  }
}