.modalBack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}
.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  max-width: 800px;
  max-height: 80%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  background-color: #fff;
  animation: modalAni 0.2s;
  overflow: hidden;
}

.modalTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 67px;
  border-bottom: 1px solid #d4d4d4;
}
.modalTitle h3 {
  margin: auto;
}
.modalTitle span,
.modalTitle p {
  font-size: 18px;
  cursor: pointer;
}
.modalTitle span {
  margin-left: 10px;
}
.modalTitle p {
  margin-right: 10px;
  font-weight: bold;
  color: #c31952;
}

/* image */
.imgContainer {
  width: 100%;
  height: calc(100% - 67px);
  position: relative;
}
.imgWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.imgWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dragUploadBox,
.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textBox {
  margin: 30px 0;
}
.textBox h3 {
  font-weight: 30;
  font-size: 25px;
  margin: 0;
}
.textBox span {
  color: #535353;
}

.dragUploadBox svg {
  color: #272727;
  transform: scale(4);
}
.fileUploadLabel {
  padding: 10px 15px 10px 15px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  background-color: #e45988;
  cursor: pointer;
}
.fileUploadLabel:hover {
  background-color: #c31952;
}

.uploadLabelChange {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 0;
  margin: 0 30px 30px 0;
  border-radius: 100%;
  cursor: pointer;
  background-color: #00000081;
}
.uploadLabelChange svg {
  width: 100%;
  height: 100%;
  color: #fff;
}
.uploadInput {
  display: none;
}

/* uploadCountAlert */
.uploadAlert {
  width: 80%;
  height: 10%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
.uploadAlert p {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.uploadAlertOff {
  display: flex;
  animation: fade 3s linear;
}

/* ImagePreview */
.imageBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  transition: 0.5s;
}
.imageBox button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 40px;
  color: #fff;
  background-color: #00000081;
  cursor: pointer;
}
.leftBtn {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.rightBtn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

/* resizeBtn */
.resizeBtn {
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.resizeBtn > div {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 100%;
  background-color: #00000081;
}
.resizeBtn > div svg {
  width: 100%;
  height: 100%;
  color: #e4e4e4;
}
.resizeBtn > div:hover {
  background-color: #00000034;
  color: #e4e4e481;
}
.sizeBtnWrap {
  position: absolute;
  bottom: calc(100% + 10px);
  width: 100px;
  /* text-align: center; */
  border-radius: 10px;
  background-color: #00000096;
  overflow: hidden;
}
.sizeBtnWrap li {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  color: rgb(158, 158, 158);
  border-bottom: 1px solid #fff;
}
.sizeBtnWrap li span {
  display: inline-block;
  border: 2px solid rgb(158, 158, 158);
  border-radius: 5px;
  width: 25px;
}
.sizeBtnWrap li:last-child {
  border-bottom: 0;
}
.sizeBtnWrap li:first-child svg {
  font-size: 25px;
  margin-left: 15px;
}
.sizeBtnWrap li:nth-child(2) span {
  aspect-ratio: 1/1;
  margin-left: 15px;
}
.sizeBtnWrap li:nth-child(3) span {
  aspect-ratio: 4/5;
  margin-left: 15px;
}
.sizeBtnWrap li:last-child span {
  aspect-ratio: 16/9;
  margin-left: 5px;
}
.clickLi {
  color: #fff !important;
  background-color: #000000a6;
}
.clickLi span {
  border: 2px solid #fff !important;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  50%,
  90% {
    opacity: 1;
  }
}
@keyframes modalAni {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
