.container::-webkit-scrollbar {
  display: none;
}
.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.container section {
  overflow: hidden;
}
.container header {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.493);
  backdrop-filter: blur(10px);
}
.logoBox {
  height: 100%;
}
.logoBox img {
  transform: scale(1.2);
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  .container header {
    height: 60px;
  }
  .logoBox {
    height: 100%;
  }
}

/* 로딩박스 */

.ListLoading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.ListLoading svg {
  width: 52px;
  height: 52px;
  margin-bottom: 30px;
  animation: lodingSpinAni 2s infinite linear;
}
.ListLoading svg circle {
  stroke: #554735;
  stroke-width: 2;
  /* getTotalLength()로 stroke의길이를 얻어올수 있음 */
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  fill: transparent;
  animation: lodingAni 0.8s infinite linear;
}

@keyframes lodingSpinAni {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lodingAni {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
