/* 메인 */

.mainContainer {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.boardContainer {
  width: calc(100% - 350px);
  min-height: 100vh;
  margin-left: 350px;
  background-color: #f5f6f7;
}

@media (max-width: 1260px) {
  .boardContainer {
    width: calc(100vw - 70px);
    margin-left: 70px;
  }
}
@media (max-width: 380px) {
  .boardContainer {
    width: 100%;
    margin: 0;
  }
}


