.modalBack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  max-width: 1200px;
  max-height: 90%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  background-color: #fff;
  animation: modalAni 0.2s;
  overflow: hidden;
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.modalTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #d4d4d4;
}
.modalTitle h3 {
  margin: auto;
}
.contentContainer {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
}

/* contentImg */
.imgWrap {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000d8;
}
.imgOriginal,
.imgOneOne {
  width: 100%;
  height: 100%;
}
.imgOriginal {
  object-fit: contain;
}
.imgOneOne,
.imgFourFive,
.imgSixteenNine {
  object-fit: cover;
}
.imgFourFive {
  width: calc(100% * 4 / 5);
  height: 100%;
}
.imgSixteenNine {
  width: 100%;
  height: calc(100% * 9 / 16);
}

/* imgLoading */
.loadingBox {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.loadingBox span {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, white, #d4d4d4, white);
  animation: loading 3s linear infinite;
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

/* postDetailContent */

.contentWrap {
  width: 40%;
  height: 100%;
}
.contentWrap img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.postUserWrap {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 10px;
  border-bottom: 1px solid #d7d7d7;
}
.postUserWrap div:nth-child(1) {
  height: 40px;
  width: 40px;
}
.postContentWrap {
  height: calc(35% - 50px);
  padding: 15px 15px;
  border-bottom: 1px solid #d7d7d7;
}
.postContent p {
  font-size: 16px;
}

/* foodList */
.foodListWrap {
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
  padding: 10px;
}
.food {
  display: inline-block;
  position: relative;
  height: 35px;
  padding: 3px;
  margin: 5px 5px;
  background-color: #c31952;
  cursor: pointer;
}
.foodName {
  text-align: center;
  font-size: 15px;
}
.foodName span {
  font-size: 12px;
  color: #d4d4d4;
}
.food > div {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80px;
  background-color: #d7d7d7;
  border-radius: 10px;
}

.food > div span:last-child {
  position: absolute;
  top: calc(100% - 5px);
  left: 50%;
  z-index: 5;
  width: 10px;
  height: 10px;
  transform: translateX(-50%) rotate(-45deg);
  background-color: #d7d7d7;
}

.food:hover >div {
    visibility: visible;
}
