.modalBack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  max-width: 1200px;
  max-height: 90%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  background-color: #fff;
  animation: modalAni 0.2s;
  overflow: hidden;
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.modalTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #d4d4d4;
}
.modalTitle h3 {
  margin: auto;
}
.contentContainer {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
}

/* contentImg */
.imgWrap {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000d8;
}
.nutrient {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  border-radius: 8px;
  background-color: #ffffffad;
}
.nutrient ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
.imgOriginal,
.imgOneOne {
  width: 100%;
  height: 100%;
}
.imgOriginal {
  object-fit: contain;
}
.imgOneOne,
.imgFourFive,
.imgSixteenNine {
  object-fit: cover;
}
.imgFourFive {
  width: calc(100% * 4 / 5);
  height: 100%;
}
.imgSixteenNine {
  width: 100%;
  height: calc(100% * 9 / 16);
}

.imgWrap button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: #fff;
  background-color: #00000081;
  cursor: pointer;
}
.imgWrap button svg {
  width: 100%;
  height: 100%;
}
.leftBtn {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.rightBtn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

/* imgLoading */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.loading p {
  font-size: 20px;
}
.loading svg {
  width: 52px;
  height: 52px;
  animation: lodingSpinAni 2s infinite linear;
}
.loading svg circle {
  stroke: url("#myGradient");
  stroke-width: 2;
  /* getTotalLength()로 stroke의길이를 얻어올수 있음 */
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  fill: transparent;
  animation: lodingAni 0.8s infinite linear;
}

@keyframes lodingSpinAni {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lodingAni {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}

/* postDetailContent */

.contentWrap {
  width: 40%;
  height: 100%;
}
.contentWrap img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.postUserWrap {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 10px;
  border-bottom: 1px solid #d7d7d7;
}
.postUserWrap div:nth-child(1) {
  height: 30px;
  width: 30px;
}
.postUserWrap p {
  margin-left: 10px;
}
.postContentWrap {
  height: calc(35% - 50px);
  padding: 15px 15px;
  border-bottom: 1px solid #d7d7d7;
}
.postContent p {
  font-size: 16px;
}

/* foodList */
.foodListWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: 1px solid #d7d7d7;
}
.food {
  position: relative;
  max-height: 30px;
  padding: 0 3px;
  margin: 5px 5px;
  background-color: #c31952;
  cursor: pointer;
}
.foodName {
  width: 110px;
}
.foodName p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 15px;
}
.foodDetail {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80px;
  background-color: #d7d7d7;
  border-radius: 10px;
}

.foodDetail span:last-child {
  position: absolute;
  top: calc(100% - 5px);
  left: 50%;
  z-index: 5;
  width: 10px;
  height: 10px;
  transform: translateX(-50%) rotate(-45deg);
  background-color: #d7d7d7;
}

.food:hover .foodDetail {
  visibility: visible;
}

/* comment */

.commentWrap {
  position: relative;
  margin-top: 10px;
  height: calc(100% - 35% - 80px);
}

.commentInput {
  width: 100%;
  height: 30px;
  padding: 3px 5px;
  display: flex;
  align-items: center;
}
.commentInput input {
  width: 85%;
  height: 100%;
  padding: 3px 5px;
  font-size: 15px;
  border-radius: 8px;
  background-color: #d4d4d4;
  outline: none;
}
.commentInput button {
  width: 40px;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  color: #c31952;
  background-color: #ffffff00;
  cursor: pointer;
}

.commentList {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 10px;
  padding: 10px;
}
.comment {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
.userProfileWrap {
  display: flex;
  height: 30px;
}
.userProfileWrap > div {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.comment p {
  display: inline-block;
  margin: 5px 0 10px 0;
  word-break: break-word;
}
.editBtnWrap {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
}
.editBtnWrap span {
  font-size: 15px;
  cursor: pointer;
}
.editBtnWrap span:nth-child(1) {
  margin-right: 5px;
}
.editBtnWrap span:nth-child(2) {
  color: red;
}

.commentUpdate {
  position: relative;
  display: flex;
  align-items: cente0r;
  width: 90%;
  margin-left: 10px;
}
.commentUpdate input {
  width: 100%;
  margin: 5px 0 10px 0;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 40px 5px 5px;
  outline: none;
}
.commentUpdate button {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 14px;
  padding: 5px ;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  background-color: #c31952;
  cursor: pointer;
}